# OS X Finder
.DS_Store
UserInterfaceState.xcuserstate

# Exclude personal Xcode user settings
# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
*.xccheckout

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

# AppCode specific files
.idea

# Gradle
.gradle
